<form action="/answer">
    <div class="form-floating input-group-sm mb-3">
      <div class="input-group mb-3">
      <input type="text" name="question" class="form-control" id="floatingInput" placeholder="Ask your coach anything:" aria-label="Ask your coach anything:" aria-describedby="button-addon2">
      <button class="btn btn-primary" type="submit" id="button-addon2">Ask!</button>
    </div>
  </form>
</div>
